/*
 *  fonts are located under /static/fonts, they are from nerdfonts 
 *  see nerdfonts.com 
 *
*/

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/UbuntuNerdFont-Regular.ttf");
}
