/* im using nerd fonts btw */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/ubuntu.woff2") format("woff2");
}
