---
# "gnu-zero-variadic-macro-arguments" ignored because we are using GNU99
# standart

# "clang-diagnostic-language-extension-token" is ignored because we need the
# asm() extension token

# "DeprecatedOrUnsafeBufferHandling" ignored because C11 "_s" functions are not
# secure either
Checks: >-
  clang-diagnostic-*,
    -clang-diagnostic-gnu-zero-variadic-macro-arguments,
    -clang-diagnostic-language-extension-token,
  clang-analyzer-*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  portability-*,
  performance-*,
WarningsAsErrors: '*'
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''
FormatStyle: file
SystemHeaders: false
...

